body {
	background-color: #EEEFF3;
}

.button-add {
	margin-bottom: 30px;
	text-align: right;
	vertical-align: middle;
}

th,td {
	text-align: center;
	vertical-align: middle;
}
td {
	font-size: 20px;
}

#content {
	position: 
}

.header-table {
	color: red;
}
.title-staff {
	font-family: Arial, Helvetica, sans-serif;
	color: grey;
	margin-left: -18px;
	margin-top: 30px;
	margin-bottom: 30px;
}
div.row:not(.title-sum) {
	padding: 30px;
	cursor: pointer;
	box-shadow:1px 1px 20px 1px grey;  
}

div.total {
	font-size: 20px;
}

.sum-title {
	box-shadow:1px 1px 10px 1px grey;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
	padding-top: 10px;
	color: white;
	width: 240px;
	height: 70px;
	text-align: center;
	border-radius: 2%;
}
.sum-title#one {
	background-color: #2c97df
}
.sum-title#two {
	background-color: #ea43d5
}

.sum-title#three {
	background-color: #f89b00
}

.sum-title#four {
	background-color: #d53343
}

.sum-title:hover {
	cursor: pointer;
	background: white;
}

a.canvasjs-chart-credit {
	color: white;
}
.content-account {
	position: relative;
	left: 200px;
	width: 500px;
	transition: all 0.3s;
}
div.p-4.p-md-5.pt-5 {
	position: relative;
	right:-50px;
}