<div id="content" class="p-4 p-md-5 pt-5">
  <h3 class="title-provider"><b>SẢN PHẨM</b></h3>
  <div class="button-add">
    <button type="button" class="btn btn-primary" [routerLink]="['/admin/add']" [queryParams]="{type:'book'}">
      <fa-icon [icon]="faAddressCard"></fa-icon>
    </button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-success" (click)='chartHighPerformance(items)'>Đồ thị biến động giá các loại sách</button>
    <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
  </div>
  <hr width="100%" align="center" size="10px" />
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" [style.margin-top.px]='30'>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th width="300px">HÌNH ẢNH</th>
            <th width="300px">TÊN</th>
            <th>SKU</th>
            <th>TÁC GIẢ</th>
            <th>GIÁ</th>
            <th>SỐ TRANG</th>
            <th>BÌA</th>
            <th width="200px">KÍCH THƯỚC</th>
            <th>NHÀ CUNG CẤP</th>
            <th width="200px">NHÀ XUẤT BẢN</th>
            <th width="100px">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books | paginate: {id: 'book', itemsPerPage: 5, currentPage: page }">
            <td class="img-show-book"><img [src]="book.img | formatImg" width="130px" height="150px" style="margin-right: -70px"></td>
            <td>{{book.name}}</td>
            <td>{{book.sku}}</td>
            <td>{{book.author}}</td>
            <td>{{book.price | currency : '' : '' :'1.0-3'}} VNĐ</td>
            <td>{{book.page}}</td>
            <td>{{book.cover}}</td>
            <td>{{book.height}} - {{book.width}} cm</td>
            <td>{{book.provider}}</td>
            <td>{{book.publisher}}</td>
            <td>
              <a href="" [routerLink]="['/admin/edit']" [queryParams]="{type:'book',id: book.id}">Sửa</a> |
              <a href="admin/book" (click)='removeBook(book.id)'>Xóa</a>
            </td>
          </tr>
          <tr>
            <td colspan="12">
              <!-- phân trang -->
              <pagination-controls id="book" class="pagination" (pageChange)="handlePageChange($event)" previousLabel="" nextLabel="">
              </pagination-controls>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
