<!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <ng-container *ngIf="isAccountLogin != undefined">
    <a class="navbar-brand" href="" *ngIf="isAccountLogin[0].role == 3">BẢNG ĐIỀU KHIỂN</a>
    <a class="navbar-brand" href="admin/provider" *ngIf="isAccountLogin[0].role != 3">BẢNG ĐIỀU KHIỂN</a>
  </ng-container>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav" *ngIf="isAccountLogin != undefined">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/staff']" *ngIf="isAccountLogin[0].role == 3">Nhân viên</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/provider']">Nhà phân phối</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/publisher']">Nhà xuất bản</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/shipper']">Nhà vận chuyển</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/user']">Khách hàng</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/book']">Sản phẩm</a>
      </li>
    </ul>
  </div>
  <div *ngIf="isAccountLogin != undefined" class="name-admin">{{isAccountLogin[0].name | uppercase}}</div>
  <button class="btn-secondary" *ngIf="AdminService.isUserLoggedIn()" [routerLink]="['/logout']">Đăng xuất</button>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
 -->
<ng-container *ngIf="isAccountLogin != undefined">
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" [ngClass]="status ? 'active' : ''">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary" (click)="handleStatus()">
        </button>
      </div>
      <div class="img bg-wrap text-center py-4">
        <div class="user-logo">
          <div class="img">
            <img [src]="isAccountLogin.img | formatImg" width="100%" class="avatar">
          </div>
          <h3>{{isAccountLogin.name | uppercase}}</h3>
        </div>
      </div>
      <ul class="list-unstyled components mb-5">
        <li>
          <a [routerLink]="['/admin/staff']"><span class="fa fa-home mr-3"></span> Nhân Viên</a>
        </li>
        <li>
          <a [routerLink]="['/admin/book']"><span class="fa fa-download mr-3 notif"><small class="d-flex align-items-center justify-content-center">5</small></span> Sách</a>
        </li>
        <li>
          <a [routerLink]="['/admin/publisher']"><span class="fa fa-gift mr-3"></span> Nhà Xuất Bản</a>
        </li>
        <li>
          <a [routerLink]="['/admin/provider']"><span class="fa fa-trophy mr-3"></span> Nhà Cung Cấp</a>
        </li>
        <li>
          <a [routerLink]="['/admin/shipper']"><span class="fa fa-cog mr-3"></span> Nhà Vận Vhuyển</a>
        </li>
        <li>
          <a href="#"><span class="fa fa-support mr-3"></span> Đổi Mật Khẩu</a>
        </li>
        <li>
          <a *ngIf="AdminService.isUserLoggedIn()" [routerLink]="['/logout']">
            <span class="fa fa-sign-out mr-3"></span> Sign Out
          </a>
        </li>
      </ul>
    </nav>
    <!-- Page Content  -->
    <router-outlet></router-outlet>
  </div>
</ng-container>
